# FastAPI web framework and related dependencies
fastapi==0.116.1
uvicorn==0.35.0

# Data processing and machine learning dependencies
pandas==2.3.1
numpy==1.23.2
pyarrow==9.0.0

# Dependencies for handling file uploads (multipart)
python-multipart==0.0.5

# Type hinting and validation
pydantic==2.11.7
pydantic_core==2.33.2

# Date and time handling
python-dateutil==2.9.0.post0
pytz==2025.2

# Other utilities
tzdata==2025.2
typing-inspection==0.4.1
typing_extensions==4.14.1
